*{
	margin: 0;
	padding: 0;
}
.add_news>button{
	float: right;
	margin-top: 20px;
}
/*user*/
.role>div {
	font-size: 22px;
}
.panel_user{
	float: left !important;
}
.col-md-6.user_head_left>div>input {
	margin-top: 10px;
}
.role{
	min-height: 350px;
}
/*category*/
.add_chuyenmuc>span{
	display: inline-block;
}
.add_chuyenmuc>button{

	float: right;
	margin-top: 20px;
}
/*hot deal*/
.add_hotdeal>button{
	float: right;
	margin-top: 20px;
}
img.hotdeal_img {
	width: 100px;
	height: 70px;
	object-fit: contain;
}
.add_hotdeal>span {
	display: inline-block;
}
/*settinh*/
ul.setting_ul {
	list-style: none;
}

li.setting_item {
	width: 100%;
	height: 45px;
	background: #808080e6;
	margin: 20px 0;
}

li.setting_item>a {
	font-size: 20px;
	line-height: 40px;
	margin-left: 5px;
	color: #fff;
}

/*customer*/
.customer_header>input {
	width: 70%;
	margin-left: 10px;
}

.col-md-6.customer_header>button {
	float: right;
	margin-right: 10%;
	margin-top: 15px;
}

/*customer_detail*/

.customer_info>ul {
	list-style: none;
	margin-left: 15px;
}

.customer_info {
	margin-top: 30px;
}

/*post_header*/
.post_header>span{
	display: inline-block;
}
.search{
	float: right;
	margin-top: 15px;
	margin-right: 50px;
}
.search>span{
	margin-left: 15px;
}

.col-md-12.advanced_fillter>.col-md-5 {
	margin-left: -15px;
}

.advanced_fillter {
	margin: 20px 0;
}

.col-md-12.advanced_fillter>.col-md-5 {
	margin-left: -15px;
}

.advanced_fillter {
	margin: 20px 0;
}

.col-md-5>.col-md-8 {
	margin-left: 27px;
}

.col-md-12.advanced_fillter>.col-md-7>span {
	margin-left: 13%;
}

.col-md-7>span>label>input {margin-left: 10px;}

.col-md-7>span>input {
	margin-left: 15px;
}
.advanced_fillter select {
	height: 22px;
}


/*question*/
.question_head{

	margin: 10px 0;
}

/*question ask*/
.ask_header>span{
	display: inline-block;
}
.answer_header>span{
	display: inline-block;
}

.panel.panel-default.ask_form{
	border: 2px solid #d4a528;
}

.panel.panel-default.answer_form {
	background: #ffc0cb8a;
}

.panel.panel-default.answer_form {
	background: #ffc0cb8a;
}

.ask_header>span {
	color: red;
}

.ask_header>span>h3 {
	color: #000 !important;
}

.answer_header>span {
	color: red;
}

.answer_header>span>i {
	font-size: 20px;
}
.ask_header>span>i {
	font-size: 20px;
}

.ask_zone.col-md-12>form>button {
	float: right;
	margin: 15px 0;
}
.ask_zone.col-md-12>form>input {
	float: left;
	margin: 15px 0;
}
.col-md-12.footer {
	background: white;
	height: 100px;
}

p.copy_right {
	font-size: 25px;
	line-height: 100px;
}
/*songs*/
.add_song>span>button {
	float: right;
	margin-right: 15%;
}
.add_song>span{
	display: inline-block;
}




/**/

.cat-actions .button-disable-user{
	position: absolute;
	right: 5px;
	top: 5px;
	color: red;
}
.fix-a-guide a{
	color: black;
}
.fix-a-guide a:hover{
	color: blue;
}
.fix-a-guide a:focus{
	color: blue;
}
.fix-a-guide a:link{
	color: blue;
}

.navbar-header{
	overflow: visible;
}
.navbar-brand{
	overflow: visible;

}
.navbar-container{
	overflow: visible;
}


.cat-mainnav{
	padding-top: 20px;
}
.cat-cal-meet{
	text-align: center;
}
.cat-btn-cal{
	padding: 8px 45px;
	margin-bottom: 15px;
}
.cat-hover a{
	padding-left: 17px;
	display: block;
}
.cat-hover:hover a{
	background-color: black;
	color: white;
}

.cat-page-content{
	margin-top: 20px;
}
body{
	font-family: sans-serif;
	font-size: 13px;
}
.cat-email{
	color: #9e9e9e;font-size: 15px;margin-bottom: 15px;
}
.cat-text-thin{
	color: #9e9e9e;font-size: 15px
}
.cat-margin{
	margin-bottom: 10px;
}
.ac{
	font-size: 15px;

}
.ac:hover{
	color: black;
}
.cat-group-addon{
	padding: 0px;
	border: none;
}
.cat-mar-btm{
	margin-bottom: 5px;
	border: 1px solid #dcdcdc;
}
.cat-fa-del{
	margin-right: 10px;
}





.active-time{
	background-color: #FF3366;
	color: white;
}
a{
	color: #337ab7;
	text-decoration: none;
}

.page-meeting> .ng-isolate-scope> .pagination{
	background: #fff;
}
.display{
	display: none;
}
.fc-day-grid-event{
	cursor: pointer;
}

.modal {
	overflow: auto !important;
}

#container.mainnav-in #content-container {
	left: 0;
}

.cursor-pointer {
	cursor: pointer;
}

.form-checkbox.form-normal.form-owner.active:before{
	background-color: #5fa2dd;
	border-color: #5fa2dd;
}
.form-checkbox.form-normal.form-pending.active:before{
	background-color: #ebaa4b;
	border-color: #ebaa4b;
}
.form-checkbox.form-normal.form-invite.active:before{
	background-color: #9cc96b;
	border-color: #9cc96b;
}
.form-checkbox.form-normal.form-done.active:before{
	background-color: #dbe6f4;
	border-color: #dbe6f4;
}
.form-checkbox.form-normal.form-available.active:before{
	background-color: #5fa2dd;
	border-color: #5fa2dd;
}
.cat-actions .button-disable-user{
	position: absolute;
	right: 5px;
	top: 5px;
	color: red;
}
.fix-a-guide a{
	color: black;
}
.fix-a-guide a:hover{
	color: blue;
}
.fix-a-guide a:focus{
	color: blue;
}
.fix-a-guide a:link{
	color: blue;
}

.navbar-header{
	overflow: visible;
}
.navbar-brand{
	overflow: visible;

}
.navbar-container{
	overflow: visible;
}


.cat-mainnav{
	padding-top: 20px;
}
.cat-cal-meet{
	text-align: center;
}
.cat-btn-cal{
	padding: 8px 45px;
	margin-bottom: 15px;
}
.cat-hover a{
	padding-left: 17px;
	display: block;
}
.cat-hover:hover a{
	background-color: black;
	color: white;
}

.cat-page-content{
	margin-top: 20px;
}
body{
	font-family: sans-serif;
	font-size: 13px;
}
.cat-email{
	color: #9e9e9e;font-size: 15px;margin-bottom: 15px;
}
.cat-text-thin{
	color: #9e9e9e;font-size: 15px
}
.cat-margin{
	margin-bottom: 10px;
}
.ac{
	font-size: 15px;

}
.ac:hover{
	color: black;
}
.cat-group-addon{
	padding: 0px;
	border: none;
}
.cat-mar-btm{
	margin-bottom: 5px;
	border: 1px solid #dcdcdc;
}
.cat-fa-del{
	margin-right: 10px;
}
tbody tr td.cat-pad-td{
	padding-top: 15px;
	padding-bottom: 15px;
}

#container .cat-table th.cat-font-th{
	font-size: 14px;
}

.cat-panel-title{
	font-size: 22px;
}
.cat-panel{
	padding-top: 10px;
}
.cat-color-user{
	color: #9e9e9e; 
}
.cat-fa-user{
	margin-right: 15px;
}
.panel-body .cat-mar-bot{
	margin-bottom: 18px;
}
.cat-fa-pencil{
	color: #666666;
}
.cat-fa-pencil:hover{
	color: black;
	cursor: pointer;
}
.cat-table-dep .cat-padd-top{
	padding-top: 25px;
	font-weight: bold;
	font-size: 14px;
}
.cat-table-dep{
	margin-bottom: 0px;
}
.cat-bg-color{
	background-color: #f3efef;
}
.cat-input-but{
	border: none;
	background-color: #EEEEEE;

}
.cat-input-color{
	border: none;
	background-color: #EEEEEE;
}
.cat-position{
	position: relative;
}
.cat-input-but:hover{
	background-color: #DDDDDD;

}
#upload{
	display: none;
}
.cat-online{
	line-height: 100px;
	font-size: 60px;
	color: #2196f3;
}
.cat-time-progress{
	padding: 20px 0px;
	background-color: #eee;
}
.cat-progress{
	padding: 20px 0px;
	position: relative;
}
.cat-progress span{
	position: absolute;
	top: 0px;
	right: 50%;
	font-weight: bold;
	font-size: 16px;
}
.cat-hover-progress{
	padding-top: 9px;
}
.cat-hover-progress:hover{
	background-color: #FFCC99;
	cursor: pointer;
}
.cat-brand-icon{
	width: 40px;
	height: 40px;
	margin-top: 4px;
	margin-left: 10px;
}
.cat-title{
	margin-top: 8px;
	padding-left: 70px;
	font-size: 13px;
	word-wrap: break-word;
}
.cat-admin{
	font-size: 13px;
	font-weight: bold;
}
.cat-acc{
	margin-top: -3px;
	font-size: 12px;
	color: white;
}
.cat-a{
	color: white;
}
.cat-a:hover{
	color: wheat;
}
.cat-met{
	text-align: center;
	font-size: 20px;
	color: #337ab7;
	font-weight: 600;
}
.cat-head-img{
	width: 40px;
	height: 40px;
	margin-top: 4px;

}
.cat-head-img-next{

	margin-left: -10px;
	width: 40px;
	height: 40px;
}
.cat-head-text{
	font-size: 20px;
	line-height: 50px;
	font-weight: 500;
	margin-left: 10px;
}
.cat-text-head{
	margin-left: 10px;
	margin-top: 5px;
}
.cat-posi-file{
	position: relative;
}
.cat-button-file{
	width: 140px;
	line-height: 22px;
	cursor: pointer;
	border: none;
}

.cat-select-dep{
	height: 100px;
}
.cat-panel-charts{
	margin-top: -30px;
}
.cat-online-cat{
	font-size: 100px;
	line-height: 222px;
}
.cat-position input{
	cursor: pointer;
}
.input-sm{
	height: 33px;
}
.cat-form-control{
	background: white;
	padding-left: 15px;
	padding-top: 12px;
}
.cat-actions{
	padding-bottom: 12px;
}
.cat-modal-body{
	background-color: #e7ebee;
}
.resizable{
	width: 100%;
	height: 300px;
	padding-top: 10px;
	overflow-x: hidden;
	margin-bottom:10px;
	margin-top: 0px;
	background: #f6f9f7;
	font-size: 13px;
	color: black;
}
.cat-scroll a:hover{
	color: black;
}
.cat-td{
	text-align: right;
}
.cat-height{
	height: 31px;
}
.cat-width{
	width: 25%;
}
.cat-month-number{
	border: 1px solid #dcdcdc;
	text-align: center;
	line-height: 40px;
	width: 89px;
	padding-top: 2px;
	margin-bottom: 1px;
}
.cat-month-number:hover{
	background: #EE6E73;
	cursor: pointer;
	color: black;
}
.cat-panel-b{
	padding-left: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 9px;
	padding-bottom: 9px;
	font-size: 20px;
	font-weight: 600;
	color: gray;
}
.cat-hover-a{
	cursor: pointer;
}
.cat-border-col{
	background-color: #f5f5f5;
	border-right: 3px solid white;
	line-height: 28px;
}
.cat-pel{
	font-size: 15px;
	height: 400px;
}
.cat-fa-cat{
	margin-right: 2px;
}

.cat-sm-pup{
	padding-left: 8px;
}
.cat-line{
	line-height: 40px;
	border-radius: 3px;
	margin: 1px 0px;
	cursor: pointer;
}
.cat-panel-b .cat-line:hover{
	background: #f5f5f5;
	border-radius: 3px;
	cursor: pointer;
	color: black;
}

.cat-modal-content{
	border-radius: 3px;
}
.cat-panel-b .cat-line.active-num{
	background: #EE6E73;
	color: black;
}
.cat-pos-check{
	position: relative;
}
.cat-ab-check{
	position: absolute;
	right: 45px;
	color: #17c317;
}
.active-check{
	box-shadow: 5px 5px 5px #b3b2b2;   
}
.cat-pad-btm{
	margin: 20px;
	padding: 20px;
}
.cat-mar{
	margin-bottom: 15px;
}
.cat-scroll-check{
	width: 100%;
	height: 160px;
	overflow:  auto;
}
.cat-fa-mar{
	margin-right: 3px;
	color: #579ddb;
}
.cat-font-body{
	font-size: 14px;
}

.active-time{
	background-color: #FF3366;
	color: white;
}
a{
	color: #337ab7;
	text-decoration: none;
}

.page-meeting> .ng-isolate-scope> .pagination{
	background: #fff;
}
.display{
	display: none;
}
.fc-day-grid-event{
	cursor: pointer;
}

.modal {
	overflow: auto !important;
}

#container.mainnav-in #content-container {
	left: 0;
}

.cursor-pointer {
	cursor: pointer;
}

/*clinic user*/
.col-md-6.advanced_fillter>input {
	height: 30px;
}
.col-md-6.advanced_fillter{
	margin-bottom: 10px;
}
.advanced_fillter>select{
	height: 30px;
}
.col-md-6.advanced_fillter>label {
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
}

/*jitsi login  */
.welcome{
	background-image: linear-gradient(-90deg,#1251AE 0,#0074FF 50%,#1251AE 100%);
	display: flex;
	flex-direction: column;
	font-family: inherit;
	justify-content: space-between;
	min-height: 100vh;
	position: relative;
}

.box-enter{
	width: 50%;
	margin: 0 auto;
	margin-top: 20%;
}
.col-xs-11.col-sm-4.alert.alert-success.animated.fadeInDown {
    z-index: 9999999 !important;
}